@charset "utf-8";
//styles will go here

.modal-animation-enter-active,
.modal-animation-leave-active {
  transition: opacity 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
}
.modal-animation-enter-from,
.modal-animation-leave-to {
  opacity: 0;
}
.modal-animation-inner-enter-active {
  transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02) 0.15s;
}
.modal-animation-inner-leave-active {
  transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
}
.modal-animation-inner-enter-from {
  opacity: 0;
  transform: scale(0.8);
}
.modal-animation-inner-leave-to {
  transform: scale(0.8);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);

  .modal-inner {
    position: relative;
    max-width: 640px;
    width: 80%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    padding: 64px 16px;

    i {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: crimson;
      }
    }
    button {
      padding: 20px 30px;
      border: none;
      font-size: 16px;
      background-color: crimson;
      color: #fff;
      cursor: pointer;
    }
  }
}
// .maincont {
//   @media (max-width: 768px) {
//   .mt-3-mobile {
//     margin-top: 1.5rem;
//   }
// }
// }
.main-header {
  display: flex;
  flex-direction: column;
}
.homepage {
  .whoarewe {
    font-size: 1.125rem;
  }
  .title, .subtitle {
      margin-top: 1rem;
  }
  .bigbutton {
    height: 200px;
    width: 200px;
  }
}

.navbar {
  transition: transform 200ms ease-out;
  // background-color: #48494A;
  // color: #CDB00F;
  font-size: 1.125rem;

  .navbar-brand {
    
    .navbar-item {
      color: #dfda8d;

      &:hover {
        color: #DD3F28;
        font-weight: 200;
      }
    }
    .navbar-burger {
      color: #DD3F28;
    }
  }
  .navbar-menu .navbar-item {
    color: #dfda8d;
    // background-color: #48494A;

    &:hover, &:active {
      color: #DD3F28;
      font-weight: 600;
    }
  }
}

.hero {
  border-bottom: 0.25em #dfda8d solid;
}
// .hero-body {
//   border: 3px solid red;
// }

#directions ol {
  list-style: disc;
}

#ace img {
  width: 126px;
  height: 78px;
}

.privacy .subtitle {
  font-size: 1.5rem;
}

.courselist {
  .title, .subtitle, .table {
    margin-top: 1rem;
  }
  p {
    margin-bottom: 1rem
  }
  p:last-of-type {
    margin-bottom: 0rem
  }
}
.mobileapps {
  li {
    list-style-type: disc;
    &:last-of-type {
      margin-bottom: 1.125rem
    }
  }
  .appStores button {
      margin-right: 1.125rem
  }
}
.pubreqs ul {
  list-style: disc;
}
#register button {
  background-color: #B7AE5E;
}
// This needs a path reference as if it was being served to browser
// $fa-font-path: "assets";
// @import "./fontawesome-free/scss/fontawesome.scss";
// @import "./fontawesome-free/scss/regular.scss";
// @import "./fontawesome-free/scss/solid.scss";
// @import "./fontawesome-free/scss/brands.scss";

@import './vue3-rich-accordion/dist/accordion-library-styles.scss';

@import './bulma/sass/utilities/_all.sass';
@import './bulma/sass/base/_all.sass';
@import './bulma/sass/elements/_all.sass';
@import './bulma/sass/form/_all.sass';
@import './bulma/sass/components/_all.sass';
@import './bulma/sass/grid/_all.sass';
@import './bulma/sass/helpers/_all.sass';
@import './bulma/sass/layout/_all.sass';

@import './block-list.scss';
